body{
    background-color: darkblue;

}
.data-keysss{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.keys{
    background-color: rgb(7, 7, 8);
    border: 5px solid white;
    width: 20%;
    height: 40%;
    font-size: 2rem;
    text-align: center;
   margin: 2rem;
    padding: 2rem;
    margin-top: 18rem;
    text-shadow: 0 0 10px white;
    color: white;
    transition: all 0.5s;

}
.key_run{
    transform: scale(1.2);
    border-color: yellow;
    box-shadow: 5px 10px 10px red;
}
